extends layout

block content
    nav
        ul
            li: a(href='/') Accueil
            li: a(href='/dashboard') Tableau de bord
            li: a(href='/catways/list') Liste des catways
            li: a(href='/reservations/list') Liste des réservations
        ul
            li: a(href='/users/' + user._id + '/account', id="link-account", style="display: inline-flex; align-items: center; justify-content: center; width: 30px; height: 30px; border-radius: 50%; background-color: blue;") 
                svg(xmlns="http://www.w3.org/2000/svg", fill="none", viewBox="0 0 24 24", stroke-width="1.5", stroke="currentColor", style="width: 25px; height: 25px;")
                    path(stroke-linecap="round", stroke-linejoin="round", d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z")        
            li: a(href='/logout') Se déconnecter
    h1= titlePage
    form(action="/reservations/" + reservation._id + "/update", id="form", method="POST")   
        div
            label(for="catwayNumber") Catway :
            select(id="catwayNumber", name="catwayNumber", required)
                each catway in dataCatway
                    option(value=catway.catwayNumber, selected=reservation.catwayNumber===catway.catwayNumber) #{catway.catwayNumber} - #{catway.type}
        div
            label(for="clientName") Nom du client :
            input(type="text", id="clientName", name="clientName", value = reservation.clientName, required)
        div
            label(for="boatName") Nom du bateau :
            input(type="text", id="boatName", name="boatName", value = reservation.boatName, required)
        
        div 
            label(for="checkIn") Check in : 
            input(type="date", id="checkIn", name="checkIn",  value = reservation.checkIn)
        
        div 
            label(for="checkOut") Check out : 
            input(type="date", id="checkOut", name="checkOut",  value = reservation.checkOut, required)
        div
            button(type="submit") Modifier la réservation
